.mykeyword {
    width: 130px;
    position: absolute;
    z-index: 1;
    top: 400px;
    right: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
  }
  .mykeyword ul{
      padding:6px 8px 6px 16px;
      text-decoration:none;
      font-size:15px;
      color:#818181;
      display:block;
  }
  
  .mykeyword div{
      padding:6px 8px 6px 16px;
      text-decoration:none;
      font-size:15px;
      color:#818181;
      display:block;
  }
  
  .mykeyword li:hover{
      color:red;
  }
  
  